@media (prefers-reduced-motion: no-preference){
    :root{
        scroll-behavior: smooth;
    }
}
.container__text{
    color: #00FF00;
    text-align: center;
    
}
.text__soft{
    padding: 20px 20px;
    font-size: 80px;
    background:#00FF00;
    color: #FFFFFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Manrope';
}
a{
    color: #FFFFFF;
    text-decoration: none;
}
.center{
    width: 90%;
    margin:0 auto;
    
}
.flex{
    display: flex;
    

}


.nav{
    padding: 20px 0;
    display: flex;
    align-items: center;
    
    

}
.nav__list{
    
    display: flex;
    color: #FFFFFF;
    text-align: center;
    
    
}
.cheat__button{
    list-style: none;
    display: flex;
    margin-right: 100px;
    
    
    
}
.list__cheat{
    display: flex;
    background: #660066;
    margin-left: 50px;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    
}
header{
    padding-bottom: 150px;
}
.cheats{
    /* background-image: url("assets/bg-2.png");     */
}

header,.cheats{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.logo p{
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
}



.main .title{
font-weight: 800;
font-size: 40px;
line-height: 68px;
text-align: center;
color:white;

margin: 150px 0 ;
}

.blue{
    color: #13cfff;
}
.red{
    color: #FF0000;
}
.cheats{
    padding:50px 0;
}
.cheat p{
    color:white;
}

.cheat{
    background: linear-gradient(180deg, rgb(117, 151, 189,0.5) 0%, rgb(17, 23, 29,0.5) 100%);
    padding:20px;

    margin:30px 0;
    border-radius:10px;
    display: flex;
}

.downloadBtn{
    background-color: #000515;
    border:none;
    color:white;

    width: 100%;
    padding:20px 0;
    border-radius: 10px;
}

.cheat .title{
    font-weight: 600;
    font-size: 25px;
    line-height: 33px;
    /* color: #000000; */
}
.cheat_info{
    flex-wrap: wrap;
    justify-content: space-between;
}
.cheat_info >div{
    width: 100%;
}
.cheat .description{
    font-size: 14px;
    line-height: 25px;

    /* color: #000000; */
}
.safe p{
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #000000; 
    margin-left: 5px;
}

.cheat_ico{
    margin-right: 15px;
}
.cheats_inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.cheats_inner > div{
    width: 49%;
}
.footer{
    padding: 20px 0;
    text-align: center;
    color:gray;
}
canvas{
    background-color: #11171d;
    position: fixed;

    z-index: -1;
    width: 100%;

}

#fpsGraph,#fpsText{
    display: none !important;
}

.safe{
    display: none;
}
button{
    cursor:pointer;
    transition: 0.5s;
    font-weight: bold;
}


.downloadBtn:hover{
    background-color: #13cfff;
    color:black;
}

.title_div,.safe{
    height: 10%;
    margin: 10px 0;
}
.button_div{
    height: 20%;
}
.description_div{
height: 50%;
margin: 5px 0;
}

@media only screen and (max-width: 1600px) {
    header{
        padding-bottom: 100px;
    }
    /* .cheats_inner > div{
        width: 100%;
    } */

    .cheat{
        display: block;
        text-align: center;
    }
    .safe{
        text-align: center;
        justify-content: center;
    }
    .cheat >div{
        width: 100%;
    }

    .title_div,.safe{
        height: 10%;
        margin: 10px 0;
    }
    .button_div{
        height: 20%;
    }
    .description_div{
    height: 50%;
    margin: 5px 0;
    }

    .cheat_info{
        display: block;
        height: 50%;
    }


}

@media only screen and (max-width: 1300px) {
    .cheat .title{
        font-size: 16px;
    }
}
@media only screen and (max-width: 1000px) {

    .cheats_inner{
        display: block;
    }

    .cheats_inner > div{
        width: 100%;
    }
}